.top-heroes-title {
  text-align: center;
}

.container-top-heroes {
  max-width: 100%;
  padding-bottom: 20px;
}

.hero-link-wrapper {
  padding: 5px;
}

.hero-link:hover {
  text-decoration: none;
}